/* Elements */

img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

i {
  font-size: 1.25rem;
}

ul {
  padding: 0;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  height: 2rem;
  border-radius: 0.25rem;
  border: 1px solid #b6b6b6;
}

textarea {
  width: 100%;
  height: 10rem;
  border-radius: 0.25rem;
  border: 1px solid #b6b6b6;
}

input:focus,
textarea:focus {
  border: 1px solid #4b2373;
  outline-color: #4b2373;
}

button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: none;
}

button:active {
  transform: translateY(0.25rem);
}

/* Semantic classes */

.header-text {
  font-size: 1.17rem;
  font-weight: bold;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
}

.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  border-radius: 10px;
  width: 24rem;
  height: 10rem;
  text-align: center;
  background-color: white;
  padding: 0;
  z-index: 2;
}

.modal-text {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.cancel-button {
  background-color: #b6b6b6;
}

.confirm-button {
  background-color: #dc2626;
  color: white;
}

.entries-anchor {
  color: white;
  text-decoration: none;
}

.save-button {
  width: 5rem;
  border: none;
}

.save-button:active {
  transform: translateY(0.25rem);
}

.new-button {
  width: 4.5rem;
}

.delete-anchor {
  color: #dc2626;
  font-family: Roboto, sans-serif;
  margin-bottom: 2rem;
}

.delete-anchor:active {
  color: darkred;
}

/* Functional classes */

.hidden {
  display: none;
}

.font-family-proza-libre {
  font-family: 'Proza Libre', sans-serif;
}

.white {
  color: white;
}

.purple {
  color: #4b2373;
}

.background-color-gray {
  background-color: #f0f0f0;
}

.background-color-purple {
  background-color: #4b2373;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-top-1rem-wide-0 {
  margin-top: 1rem;
}

.margin-bottom-p5rem {
  margin-bottom: 0.5rem;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.margin-left-1rem {
  margin-left: 1rem;
}

.text-align-right {
  text-align: right;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-right {
  justify-content: right;
}

.padding-0 {
  padding: 0;
}

.padding-top-1rem {
  padding-top: 1rem;
}

.padding-left-right-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}

.position-relative {
  position: relative;
}

@media screen and (min-width: 768px) {
  .margin-top-1rem-wide-0 {
    margin-top: 0;
  }
}
